html {
  font-family: "Noto Sans", sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #005e76;
  border-bottom: 2px solid #8bc9d9;
}

a:hover {
  color: #000;
}

main > header > div > img {
  width: 100%;
}

h1 {
  text-align: center;
}

i {
  font-family: "Noto Sans Japanese";
}

.center {
  text-align: center;
}

section > article > .border {
  border-top: solid;
  border-bottom: solid;
  border-color: #e2e2e2;
}

nav > .btn {
  border-radius: 8px;
  border-color: #8bc9d9;
}

.btn-ghost {
  color: #005e76;
}

nav > .btn-ghost:hover {
  background-color: #8bc9d9;
  border-color: #0084a6;
  color: #005e76;
}

footer {
  border-top: 1px solid;
  border-color: #e2e2e2;
}

@media only screen and (min-width: 38em) {

  main > header > nav {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  main > header > .link {
    float: right;
  }

}
